**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/bld
**/ClientApp/node_modules
**/ClientApp/dist
**/core
**/docker-compose.override.*
**/obj
**/TestResults
